@font-face {
	font-family: 'Beckan';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Beckan-Personal%20Use.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-light.otf') format('opentype');
	font-weight: 200;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-book.otf') format('opentype');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-middle.otf') format('opentype');
	font-weight: 450;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-regular.otf') format('opentype');
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-thinitalic.otf') format('opentype');
	font-weight: 100;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-lightitalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-bookitalic.otf') format('opentype');
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-middleitalic.otf') format('opentype');
	font-weight: 450;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-regularitalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic
}

@font-face {
	font-family: 'Bebas';
	src: url('https://cdn.jsdelivr.net/gh/palimpsesterpg/those-endless-seasons@main/fonts/Fontspring-DEMO-bebasneuepro-bolditalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic
}